#wrapper {
    padding: 10px 15px;
    overflow: hidden;
    max-width: 700px;
}

.panel {
    float: left;
}

#inputPanel {
    width: 250px;
    margin-right: 20px;
}

#resultsContainer {
    width: 330px;
    font-size: 1.1em;
}

.cell {
    text-align: center;
    padding: 0 1px 0 0 !important;
}

.cell .grade {
    background-color: #d9edf7;
}

.cell.active div {
    background-color: #f7ecb5;
}

.i18n.ru {
    display: none;
}

.i18n-control {
    cursor: pointer;
}

#yaShareBlock {
    display: inline-block;
}

#yaShareBlock .b-share__handle {
    padding-top: 0 !important;
}

#requirements {
    font-size: .8em;
    color: #555555;
    text-align: right;
}